h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 0;
  font-weight: 700;
  font-family: 'VW Head';
  letter-spacing: normal;
}

h1,
.h1 {
  font-size: 52px;
  line-height: 1.19;
}

h2,
.h2 {
  color: $dark-blue;
  font-size: 40px;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.33;
}

h4,
.h4 {
  font-size: 22px;
  line-height: 1.36;
}

h5,
.h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 1px;
}

.subtitle {
  margin-bottom: 5px;
  margin-left: 1px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.minified-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}

p,
.p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-family: 'VW Head';
  line-height: 1.5;

  &.small-text {
    font-size: 18px;
  }
}

a {
  letter-spacing: normal;
  text-decoration: none;
}

a,
button {
  font-weight: 400;
  font-size: 14px;
  font-family: 'VW Head';
  line-height: 1.28;
  letter-spacing: 1px;
  cursor: pointer;

  &.header__info__btn-request {
    font-size: 12px;
    line-height: 18px;
  }
}

mark {
  color: $orange;
  font-size: inherit !important;
  line-height: inherit !important;
  background-color: transparent;
}

@media screen and (max-width: 1680px) {
  h1, .h1 {
    font-size: 52px;

    .single-post & {
      font-size: 50px;
    }
  }


  h3, .h3 {
    font-size: 28px;
  }

  h4, .h4 {
    font-size: 20px;
  }
  h5, .h5 {
    font-size: 18px;
  }
  .small-text {
    font-size: 16px;
  }
  p,
  .p {
    font-size: 18px;

    &.small-text {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1440px) {
  h1, .h1 {
    font-size: 48px;
  }

  h5, .h5 {
    font-size: 16px;
  }
  p,
  .p {
    font-size: 16px;


    &.small-text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1250px) {
  h2, .h2 {
    font-size: 36px;
  }
  h4, .h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px) {
  h1, .h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  h5, .h5 {
    font-size: 14px;
  }
  h3, .h3 {
    font-size: 24px;
  }
  h4, .h4 {
    font-size: 16px;
  }
  .subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  h1, .h1 {
    font-size: 32px;
  }
  h2, .h2 {
    font-size: 28px;
  }
  h5, .h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  h1, .h1 {
    font-size: 26px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 16px;
  }
  h4, .h4 {
    font-size: 13px;
  }
  a,button{
    font-size: 12px;
  }
}
