.contact {
  display: flex;
  position: relative;

  &:after {
    content: '';
    width: 262px;
    height: 192px;
    background-image: url("../../../assets/icons/decor.svg");
    position: absolute;
    left: 52px;
    bottom: 25px;
    z-index: 1;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;

    &__wrapper {
      position: relative;
      z-index: 2;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 60vw;
        max-width: 1170px;
        height: 100%;
        background-color: $dark-blue;
        content: '';
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
      padding: 20px 40px;
      text-align: center;
      background-color: $orange;
      border: none;
      color: $white;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        width: 29px;
        height: 0;
        border-right: 27px solid transparent;
        border-bottom: 66px solid $dark-orange;
        transform: rotate(-90deg);
        transform-origin: 50% 56%;
        transition: opacity 0.4s;
        content: '';
      }

      @media (hover: hover) {
        &:hover {
          &::before {
            opacity: 0;
          }
        }
      }

      body.ie & {
        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    &__title {
      margin-bottom: 28px;
      color: $white;
    }

    &__description {
      color: rgba($white, 0.8);
    }

    .form-group {
      width: calc(50% - 20px);
      position: relative;

      input {
        width: 100%;
        padding: 7px 0 13px;
        color: $white;
        font-size: 18px;
        font-family: inherit;
        line-height: 20px;
        background: transparent;
        border: 0;
        border-bottom: 2px solid rgba($white, 0.2);
        outline: 0;
        transition: border-color 0.2s;

        &::placeholder {
          color: $white;
          font-size: 18px;
          line-height: 20px;
        }

        &:hover, &:focus {
          border-color: rgba($white, 0.5);
        }

        &.error {
          border-color: rgba(255, 40, 40, 0.5);
        }
      }

      label {
        color: rgba(255, 40, 40, 0.5);
        font-size: 14px;
        position: absolute;
        left: 0;
        bottom: -22px;
      }
    }


  }

  &__img {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 40px 0 60px;
  }

  @media screen and (min-width: 2100px) {
    &__form__wrapper:after {
      max-width: unset;
    }
  }
  @media screen and (max-width: 1680px) {
    &__img {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__form__wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .form-group input {
        &::placeholder {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 1250px) {
    flex-direction: column;
    &__form {
      &__wrapper {
        order: 1;
        width: 100%;

        .form-group input {
          font-size: 14px;

          &::placeholder {
            font-size: 14px;
            line-height: 1.5;
          }
        }

        &:after {
          width: 100%;
        }
      }
    }
    &__img {
      display: none;
    }
    &::after {
      content: none;
    }
  }
  @media screen and (max-width: 576px) {
    &__form {
      flex-direction: column;

      &__button {
        font-size: 12px;
      }

      &__wrapper {
        .form-group {
          width: 100%;
          margin-bottom: 15px;

          input {
            padding: 7px;
            font-size: 12px;
          }

          &::placeholder {
            font-size: 12px;
          }
        }
      }
    }
  }
}
